.inner-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}
.form-entry {
  min-width: 250px;
}
.done-button {
  text-transform: lowercase !important;
}
