.App {
  text-align: center;
}
.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flexbox {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#v-navbar-container {
  width: 300px;
  background-color: #2a3948;
}
#h-navbar-container {
  height: 100px;
}
#todo-view-container {
  width: 100%;
}

#view-container {
  height: calc(100vh - 100px);
}
