.App {
  text-align: center;
}
/* Global utility classes*/

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flexbox {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mb-4 {
  margin-bottom: 40px !important;
}
.p-1 {
  padding: 10px !important;
}
.p-2 {
  padding: 20px !important;
}
.p-3 {
  padding: 30px !important;
}
.p-4 {
  padding: 40px !important;
}
/* Backgrounds and Foregrounds */

.bg-white {
  background-color: #ffffff !important;
}
.bg-grey {
  background-color: #e6ebef !important;
}
.bg-red {
  background-color: #be0010 !important;
}
.bg-navy {
  background-color: #2a3948 !important;
}
.bg-navy-light {
  background-color: #3d4b59 !important;
}
.bg-navy-dark {
  background-color: #222e3a !important;
}
.fg-white {
  color: white !important;
}
.fg-navy-dark {
  color: #222e3a !important;
}

/* Content id */

#logo-box {
  width: 30%;
  max-width: 300px;
  height: 100%;
  flex-shrink: 0;
}
#v-navbar-container {
  width: 30%;
  max-width: 300px;
  padding-top: 20px;
  flex-shrink: 0;
}
#h-navbar-container {
  height: 100px;
}
#todo-view-container {
  flex-grow: 1;
}

#view-container {
  height: calc(100vh - 100px);
}

#todo-table-container {
  width: 90%;
  min-width: 500px;
  margin: 0 auto 20px auto;
}
#add-todo-form-container {
  background-color: #cfd8e0;
  width: calc(90% - 40px);
  margin: 0 auto;
}
